/*
Syntax error: File to import not found or unreadable: bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss.
              Load path: /Users/steinbergkh/Documents/Programming/angularjs/umich-adpi/app/styles
        on line 3 of main.scss
        from line 1 of style.scss

1: @import 'main';
2: @import 'colorful-flat';
3: 
4: $turquoise: rgb(18, 183, 179);
5: $light-blue: rgb(179, 226, 226);
6: $light-gray: #333;
7: $dark-gray: rgba(255, 255, 255, 0.43);
8: 

Backtrace:
main.scss:3
style.scss:1
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/import_node.rb:45:in `import'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `map'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/root_node.rb:20:in `render'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `each'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/exec.rb:443:in `watch_or_update'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/exec.rb:326:in `process_result'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/exec.rb:41:in `parse'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/exec.rb:21:in `parse!'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/bin/scss:13:in `<top (required)>'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/bin/scss:23:in `load'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/bin/scss:23:in `<main>'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/bin/ruby_executable_hooks:15:in `eval'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
    white-space: pre;
    font-family: monospace;
    content: "Syntax error: File to import not found or unreadable: bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss.\A               Load path: /Users/steinbergkh/Documents/Programming/angularjs/umich-adpi/app/styles\A         on line 3 of main.scss\A         from line 1 of style.scss\A \A 1: @import 'main';\A 2: @import 'colorful-flat';\A 3: \A 4: $turquoise: rgb(18, 183, 179);\A 5: $light-blue: rgb(179, 226, 226);\A 6: $light-gray: #333;\A 7: $dark-gray: rgba(255, 255, 255, 0.43);\A 8: ";
}
