<div ng-include="'components/navbar/navbar.html'"></div>
<div class="content-wrap">
    <div class="container-fluid content-container">
        <div class="tag-list">
            <!--{{filterTags}}-->
            <filter-button ng-repeat="tag in tagList" title="{{tag}}"></filter-button>
        </div>

        <div class="row">
            <div style="display:inline; margin: 5px 5px;" ng-repeat="photo in photos">
                <cl-image style="max-width: 100%; max-height: 400px; margin: 5px 5px;" class="image" src="{{photo.url}}"
                          crop="scale"
                          quality="80"/>
            </div>
        </div>

        <!-- <div masonry reload-on-show masonry-options="{ isFitWidth: true }" item-selector=".image">
            <div class="masonry-brick" ng-repeat="photo in photos">
                    <cl-image class="image" public-id="{{photo.public_id}}" width="0.4" crop="scale"
                                    quality="80" format="jpg"/>
            </div>
        </div>-->
    </div>
</div>

