<div class="col-md-12 content-container">
    <h1>Your Photos</h1>

    <div class="actions">
        <a class="upload_link" href="#/photos/new">Add photo</a>
    </div>

    <div class="photos">
        <p ng-if="photos.length === 0 || !photos">No photos were added yet.</p>

        <div class="tag-list">
            <filter-button ng-repeat="tag in tagList" title="{{tag}}"></filter-button>
        </div>

        <div class="photo row" ng-repeat="photo in photos | orderBy:'version':true">
            <h2>{{photo.context.custom.photo}}</h2>

            <div class="col-md-2" style="margin-right: 15px">
                <a href="{{photo.cloudinaryId}}" format="jpg" target="_blank">
                    <img src="{{photo.url}}" class="thumbnail inline" width="240"
                         quality="80"/>
                </a>
            </div>

            <div class="col-md-3">
                <tags-input ng-model="photo.tags"></tags-input>
                <!--{{photo.cloudinaryId}}-->

            </div>

            <div class="col-md-1">
                gallery
                <input type="checkbox"
                       ng-model="photo.gallery"
                       ng-change="checkbox(photo)">
            </div>

            <div class="col-md-1">
                has rho
                <input type="checkbox"
                       ng-model="photo.rho"
                       ng-change="checkbox(photo)">
            </div>

            <div class="col-md-2">
                approved
                <input type="checkbox"
                       ng-model="photo.approved"
                       ng-change="checkbox(photo)">
            </div>

            <div class="col-md-1">
                <button type="button" class="btn btn-default btn-lg" ng-click="deleteImage(photo.cloudinaryId)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>

            <div class="col-md-1">
                <button type="button" class="btn btn-success btn-lg"
                        ng-click="editImage(photo.cloudinaryId, photo.tags, photo)">save
                </button>
            </div>

        </div>

    </div>


</div>
