$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.dashboard,
.dashboard h1,
.dashboard h2 {
  color: #2C3E50 !important;
}

// Component styles are injected through grunt
// injector
@import 'about-us/about-us.scss';
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'contact/contact.scss';
@import 'exec/exec.scss';
@import 'gallery/gallery.scss';
@import 'involvement/involvement.scss';
@import 'main.scss';
@import 'main/main.scss';
@import 'philanthropy/philanthropy.scss';
@import 'photo/edit/edit.scss';
@import 'photo/upload/upload.scss';
@import 'recruitment/recruitment.scss';
@import 'style.scss';
@import 'filterButton/filterButton.scss';
// endinjector