.exec-item {
  height: 270px;
  margin-bottom: 30px;
}

.exec-item-wrap {
  padding: 10px;
  height: 100%;
  margin: 17px 10px;
  background-color: rgb(18, 183, 179);
  color: white;
}

.position-description {
  font-size: 15px;
}

.exec-item hr {
  margin-top: 8px;
  margin-bottom: 8px;
  border: 0;
  border-top: 1px solid white !important;
}

.row {
  margin-bottom: 40px;
}