<form class="form" name="form" ng-submit="add(form)" novalidate>

    <div class="form-group">
        <label>Title</label>

        <input type="text" name="title" class="form-control" ng-model="position.title"
               required/>

    </div>

    <div class="form-group">
        <label>Description</label>
        <input type="text" name="description" class="form-control" ng-model="position.description"
               required/>
    </div>
    <div class="form-group">
        <label>Description</label>
        <input type="text" name="description" class="form-control" ng-model="position.description"
               required/>
    </div>
    <div class="form-group">
        <label>Description</label>
        <input type="text" name="description" class="form-control" ng-model="position.description"
               required/>
    </div>


    <button class="btn btn-lg btn-primary" type="submit">Sign up</button>
</form>